html {
    background-color: #151A20; 
    color: #EEEEF0;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal
}
/**

gris : #374049
blanc cassé : #EEEEF0
bleu foncé : #7B8DA6
bleu clair : #BBD9F1
marron clair : #A59794
bleu fade : #93A0B0
bleu boutielle : #334A58
marron : #665D5E
gris clair : #9E9BA4
bleu turquoise : #96B0AF
bleu-vert très clair : #CADEDD
noir : #151A20

**/

a {
    outline: none;
    text-decoration: none;
    color: #EEEEF0;
    padding: 2px 1px 0;
}
a:link, a:visited { 
    text-decoration: none;
}



a:hover {
    text-decoration: underline;
    border-bottom: 1px solid;
    background: #EEEEF0;
    transition: all 1s;
    border-radius: 2%;
    color: #151A20;
}

a:active {
    background: #AAAA90;
}


.title {
    text-align: center;
}

.menu {
    text-align: center;
}



/** Modèle Carte **/


*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container{
    width: 1040px;
    margin: auto;
    background-color: #000;
    /*justify-content: center;*/
}


div.card {
    margin: 5px;
    background-color: #222;
    float: left;
    width: 250px;
    /*-moz-box-shadow: 2px 2px 3px 0px #aaa;
    -webkit-box-shadow: 2px 2px 3px 0px #aaa;
    -o-box-shadow: 2px 2px 3px 0px #aaa;
    box-shadow: 2px 2px 3px 0px #aaa;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaa, Direction=134, Strength=3);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
}

/*div.card:hover{
    -moz-box-shadow: 2px 2px 3px 0px #999;
    -webkit-box-shadow: 2px 2px 3px 0px #999;
    -o-box-shadow: 2px 2px 3px 0px #999;
    box-shadow: 2px 2px 3px 0px #999;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#999, Direction=134, Strength=3);
}

div.card:hover .description{
    color: #2d2d2d; 
}*/

div.card img {
    width: 100%;
    height: auto;
    padding: 5px;
}

div.clear{
    clear: both;
}

@media screen and (max-width: 1045px){
    div.container{
      width: 780px;
    }
}
  
  @media screen and (max-width: 785px){
    div.container{
      width: 560px;
    }
    
    div.card{
      margin: 15px;
    }
}
  
@media screen and (max-width: 575px){
    div.container{
        width: 350px;
    }

    div.card{
        margin: 10px 5px;
        width: 350px;
    }
}

@media screen and (max-width: 405px){
    div.container{
        width: 280px;
    }

    div.card{
        width: 280px;
    }
}
